.post-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-btn {
  position: relative;
  -webkit-perspective: 300px;
  perspective: 300px;
  width: 220px;
  height: 40px;
  padding-bottom: 60px;
}
.post-btn span {
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}
.post-btn span:nth-child(1) {
  background-color: #333;
  color: #fff;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.post-btn span:nth-child(2) {
  background-color: #fff;
  color: #333;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.post-btn:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.post-btn:hover span:nth-child(2) {
  background-color: #333;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.po-cal{
  color: black;
}
.pos-detl{
  width: 60vw;
  height: 40vh;
}

.oya {
  padding: 0.5em 1em;
  margin: 1em 0;
  background: white;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
  width: calc(100vw - 550px);
}

.shop-datail {
  width: calc(100vw - 600px);
}

.shop-sprice {
  width: 150px;
}

.shop-photo {
  width: 150px;
}

.shop-region {
  width: 350px;
}
.card-texts {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.store_in {
  width: 150px;
}

.take_out {
  width: 150px;
}

.delivery {
  width: 150px;
}

#input_plural {
  display: flex;
  flex-direction: column;
}

.name {
  width: 150px;
}

.price {
  width: 150px;
}

.com-description {
  width: calc(100vw - 600px);
}

.add {
  width: 40px;
}

.del {
    width: 40px;
}

.plus_min {
  // display: flex;
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
  background: #1856C9;
  padding: 20px;
         
}
.scrollTop a:hover{
      background: #44CAFF;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}