$color: red;
$color2: blue;
$color3: green;
$color4: black;
$color5: rgb(137, 4, 245);

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  // display: block;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.reservation-new {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color;
    color: #fff;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.review-new {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color2;
  border: 2px solid $color2;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color2;
    color: #fff;
    border-bottom: 4px solid darken($color2, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.shop-edits {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color3;
  border: 2px solid $color3;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color3;
    color: #fff;
    border-bottom: 4px solid darken($color3, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.com-edits {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color4;
  border: 2px solid $color4;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color4;
    color: yellow;
    border-bottom: 4px solid darken($color4, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.review-ne {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: $color5;
  border: 2px solid $color5;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color5;
    color: #fff;
    border-bottom: 4px solid darken($color5, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
@charset "UTF-8";
.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate0:after {
  width: 0;
}

.rate1:after {
  width: 16px;
}

.rate1-5:after {
  width: 24px;
}

.rate2:after {
  width: 32px;
}

.rate2-5:after {
  width: 40px;
}

.rate3:after {
  width: 48px;
}

.rate3-5:after {
  width: 56px;
}

.rate4:after {
  width: 64px;
}

.rate4-5:after {
  width: 72px;
}

.rate5:after {
  width: 80px;
}

.wrap {
  width: 80px;
  margin: 0 auto;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}

.review-comments {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.review-comment {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  padding: 0.5em 1em;
  margin: 0 auto;
  margin-bottom: 30px;
  background: white;
  border-top: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
  background: #1856C9;
  padding: 20px;
         
}
.scrollTop a:hover{
      background: #44CAFF;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}

.tab_item {
  display: none;
}

.is-active-item {
  display: block;
}

.oyas {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  margin: 1em 0;
  background: white;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
  width: calc(100vw - 550px);
}