.post-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-btn {
  position: relative;
  perspective: 300px;
  width: 220px;
  height: 40px;
  padding-bottom: 60px;
}

.post-btn span {
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  box-sizing: border-box;
  transition: all 0.3s;
  pointer-events: none;
}

.post-btn span:nth-child(1) {
  background-color: #333;
  color: #fff;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -30px;
}

.post-btn span:nth-child(2) {
  background-color: #fff;
  color: #333;
  transform: rotateX(0deg);
  transform-origin: 50% 50% -30px;
}

.post-btn:hover span:nth-child(1) {
  transform: rotateX(0deg);
}

.post-btn:hover span:nth-child(2) {
  background-color: #333;
  transform: rotateX(-90deg);
}

.po-cal {
  color: black;
}

.pos-detl {
  width: 60vw;
  height: 40vh;
}

