.reser-form {
  padding: 0.5em 1em;
  margin: 1em 0;
  background: white;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
}

.total-price {
  padding: 0.5em 1em;
  margin: 1em 0;
  background: white;
  border-left: solid 6px red;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
}

.line {
  border-bottom: 3px double black;
  padding-bottom: 15px;
}

